repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy

  # entry: das wird ausgeführt, wenn pre-commit läuft
  # in diesem Fall wird uv run pytest getartet, damit 
  # das installierte Projekt (pip install .) erkannt wird
  - repo: local
    hooks:
      - id: pytest
        name: Run Pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true